$header-height: 48px;

// table
$table-padding-left: 47px;
$table-padding-right: 30px;
$table-max-width: 1200px;
$table-header-margin-bottom: 3px;
$table-cell-padding-top: 3px;

// color
$white: #fff;
$black: #000;
$light-gray: #999;
$blue: #0060f2;
$table-hover-color: #f1f9ff;
$table-header-color: #fafafa;
