.header {
  background: black;
  height: 48px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  .header__toolbar {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .header__logo {
    display: inline-flex;
    height: 48px;
    justify-content: center;
    width: 48px;

    img {
      width: 22px;
      display: block;
      margin-bottom: 1px;
    }
  }

  .header__list--left {
    width: calc(50% - 45px);

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-right: 43px;
    }

    .header__list--white {
      color: white;
    }
  }

  .header__list--right {
    width: 50%;
    display: flex;
    justify-content:

    .header__issue {

    }

    .header__email {

    }
  }
}
