.header {
  background: black;
  height: 48px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__toolbar__logo {
  display: inline-flex;
  justify-content: center;
  width: 48px;
  height: 48px;
}

img {
  width: 22px;
  display: block;
  margin-bottom: 1px;
}

.header__toolbar-list {
  display: flex;
  list-style-type: none;
}

.header__toolbar-list--white {
  color: white;
}
