@import 'variables';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.debug {
  border: solid 1px $blue;
}

body {
  padding: 0;
  color: $black;
  background: $white;
  font-weight: 300;
  font-size: 14px;
  font-family: Avenir, 'Noto Sans', sans-serif;
  margin: 0;
  height: 100%;
}

.header {
  background: $black;
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  .header__toolbar {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .header__logo {
    display: inline-flex;
    height: $header-height;
    justify-content: center;
    width: 48px;

    img {
      width: 22px;
      display: block;
      margin-bottom: 1px;
    }
  }

  .header__list--left {
    width: calc(50% - 45px);
    font-weight: bold;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-right: 43px;

    }

    a {
      text-decoration: none;
    }

    .header__list--white {
      color: $white;
    }

    .header__list--gray {
      color: $light-gray;
    }
  }

  .header__list--right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    height: $header-height;

    .header__account {
      display: inline-flex;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      color: $white;
      cursor: default;
      height: 100%;
      padding-right: 10px;
    }

    .header__account-open {
      background: $blue;
    }

    .header__triangle {
      display: block;
      padding: 0 10px;
    }

    .header__email {
      padding: 0 5px 0 15px;
    }

    .header__issue-wrapper {
      display: flex;
      align-items: center;
      background: $blue;
      text-decoration: none;
      padding: 2.5px 10px 2.5px 5px;
      margin: 10px 15px;
      border-radius: 2px;
    }


    .header__issue {
      font-family: Avenir, sans-serif;
      letter-spacing: 0.5px;
      font-size: 14px;
      font-weight: 700;
      color: $white;
    }

    .header__plus {
      margin: 10px;
    }

    .header__issue-wrapper--white {
      color: $white;
      }
  }
}

.table {
  padding-left: $table-padding-left;
  padding-right: $table-padding-right;
  padding-top: $header-height;
  max-width: $table-max-width;
  font-size: 13px;
  font-family: AndaleMono, sans-serif;

  .table__title {
    padding-bottom: 20px;
    padding-top: 40px;
    font-family: Avenir, Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .table__header {
    background: $table-header-color;
    margin-bottom: $table-header-margin-bottom;
    line-height: 30px;
  }

  .table__body {
    width: 100%;
  }

  .table__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowarp;
    width: 100%;
  }

  .table__row--hover:hover {
    background: $table-hover-color;
  }

  .table__cell {
    display: inline-flex;
    padding-right: 30px;
    padding-bottom: 3px;
    vertical-align: middle;
  }

  .table__cell--padding {
    padding-top: $table-cell-padding-top;
  }

  .table__font--bold {
    font-weight: bold;
  }

  .table__timestamp {
    width: 16.66667%;
  }

  .table__timestamp--padding {
    padding-top: 6px;
  }

  .table__property {
    width: 41.66667%;
  }

  .table__cell.table__property {
    padding-top: 3px;
  }

  .table__issuer {
    width: 20.83333%;
  }

  .table__details {
    width: 20.83333%;
    text-transform: uppercase;
  }

  .table__download {
    color: $blue;
  }

  .table__download--after::after {
    content: '\BB';
    margin-left: 3.5px;
  }
}
